<footer class="footer-container pe-3">
        <ul id="links-container">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/">Contact</a></li>
        </ul>     
</footer>
</body>
</html>