<%- include("partials/header.ejs") %>

<div class="form-container container">
  <% if (locals.error) { %>
  <div class="error">
    <p><%= error %></p>
  </div>
  <% } else { %>
  <h4><%=locals.data %></h4>
  <% } %>

  <form action="/password" method="POST">
    <div class="form-group" id="form-group">
        <label for="email">Please enter email associated with account</label>
        <input type="text" name="email" id="email" />
    </div>
    
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>

  <%- include("partials/footer.ejs") %>
</div>
